@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

@import url('https://rsms.me/inter/inter.css');

body{
    padding: 50px;
    width: 75%;
    margin: auto;
}
h1{
    width: 100%;
    margin: 3vh auto;
    text-align: center;
    font-family: 'Fira Code', Courier, monospace;
    font-size: 6vw;
}
h2{
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: 'Fira Code', Courier, monospace;
    font-size: 4vw;
}
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 1vh auto;
}
li {
    float: left;
}
.alphabetContainer{
    margin-top: 1.5vh;
}
.resetButton{
    width: 100%;
    /* height: 20px; */
    background: #00000022;
    color: black;
    border:none;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Apple Gothic', 'Open Sans', sans-serif;
    font-size: 2.7vw;
    font-weight: 900;
    margin-top: 1vh;
    transition: 5s;
    transition-timing-function: ease;
}
.resetButton:hover{
    background: #000000cc;
    color: white;
    transition: 0.4s;
}
.resetButtonContainer{
    width: 100%;
    margin: auto;
}
.letter{
    border: none;
    background: none;
    /* margin-top: 2em; */
    font-family: 'Fira Code', Courier, monospace;
    font-size: 5vw;
}
.letterButton{
    height: 1.5em;
    width: 1.5em;
    border: 0.6vw solid black;
    margin: 0.3vw;
    background: none;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Apple Gothic', 'Open Sans', sans-serif;
    font-weight: 900;
    padding: 0;
    font-size: 3.4vw;
    text-align: center;
    transition-duration: 0.5s;
}
.unclicked {
    border: 0.6vw solid black;
    background: none;
    color: black;
}
.unclicked:hover {
    color:white;
    background: black;
    border: 0.6vw solid transparent;
    transition-duration: 0.2s
}
.notInWordClicked {
    border: 0.6vw solid transparent;
    background: red;
    color: white;
}
.inWordClicked {
    border: 0.6vw solid transparent;
    background: green;
    color: white;
}
button:focus{
    outline:0;
}