.letter-container {
    float: left;
    width: 4vw;
    height: 6vw;
    position: relative;
    text-align: center;

    @media (max-width: 1200px) {
        width: calc(28vh / 5);
        height: calc(42vh / 5);
    }

    @media (max-width: 480px) {
        width: calc(36vh / 5);
        height: calc(54vh / 5);
    }
}

.letter {
    font-family: 'Fira Code';

    border: none;
    background: none;
    position: absolute;
    left: 0;
    right: 0;

    font-size: 5vw;

    @media (max-width: 1200px) {
        font-size: 7vw;
    }

    @media (max-width: 480px) {
        font-size: 9vw;
    }
}

.letter-transition-enter {
    opacity: 0;
    transform: translateY(20%);
}

.letter-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-out;
}

.letter-transition-exit {
    opacity: 1;
}

.letter-transition-exit-active {
    opacity: 0;
    transition: all 0.3s ease-in;
}
