.status {
    font-family: 'Fira Code';
    width: 90%;
    margin: 1.25vh auto;
    text-align: center;
    font-size: 4vw;
    font-weight: 700;

    @media (max-width: 1200px) {
        width: 100%;
        font-size: 4vw;
        margin: 0.4vh auto;
    }

    @media (max-width: 480px) {
        width: 100%;
        font-size: 6vw;
        margin: 0.4vh auto;
    }
}